node_modules/
dist/
.env
*.log
.docker/
docker-compose.override.yml
backend/.env
backend/appointments-dealership-firebase-adminsdk-fbsvc-1ac6cb25fc.json
backend/src/config/firebaseSDK.js
backend/serviceAccountKey.json
/deploy